.todo-app {
  width: 600px;
  min-height: 180px;
  border: 1px solid;
  padding: 20px 101px;
  margin: 51px auto;
  border-color: orange;
  box-shadow: 20px 9px 21px 2px #ff16000f;
}

.c-moo-logo {
  background: #ff8d40;
  display: inline-block;
  text-align: center;
  position: relative;
  z-index: 101;
  /* height: 50px; */
  color: white;
  background: whi;
  width: 28px;
  border-radius: 5px;
  padding: 10px;
}

.u-fill--white {
  fill: #fff !important;
}

.filters {
  display: flex;
  justify-content: space-around;
}

.filter-item {
  color: #767b92;
  border: 1px solid #ff8d40;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.filter-item:hover {
  background-color: #ff8d40;
  color: white;
  opacity: 0.8;
}

.filter-item-selected {
  background-color: #ff8d40;
  color: white;
}

.filter-item-selected:hover {
  background-color: #ff8d40;
  color: white;
  opacity: 1;
}
